<div id="reservation-form-overlay" class="overlay" style="display: none;">
    <div class="overlay-content">
      <h2>Hacer Reserva</h2>
      <form id="reservation-form">
        <label for="reservation-date">Fecha:</label>
        <input type="date" id="reservation-date" name="reservation-date" required>
  
        <label for="reservation-time">Hora de inicio:</label>
        <input type="time" id="reservation-time" name="reservation-time" required>
  
        <div class="overlay-buttons">
          <button type="button" id="form-continue">Continuar</button>
          <button type="button" id="form-cancel">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  